body {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
}

.about-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feature-header {
  font-size: 21px;
  font-weight: bold;
  line-height:21px;
  color: #000000;
}
