@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff'),
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff'),
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-container{
  width:1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header{
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}

.main-navigation{
padding-top: 17px;
padding-bottom: 17px;
}

.main-navigation-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
  font-weight: bold;
}

.main-navigation-item{
  width: 240px;
}

.main-navigation-item:nth-child(3){
  margin-left: 96px;
}

.main-navigation-item:nth-child(3),
.main-navigation-item:nth-child(4){
  text-align: right;
}

.main-navigation-link{
  color: #000000;
  text-decoration: none;
}

.main-logo-link{
  position: absolute;
  display: block;
  width: 138px;
  height: 70px;
  top: 0;
  left: 528px;
  color: #000000;
  text-decoration: none;
}

.about{
  padding-top: 53px;
  padding-bottom: 53px;
}

.about-header {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.about-text{
  margin: 0;
  text-align: center;
}

.features{
  display: flex;
}

.feature{
  width: 400px;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 60px;
}

.feature-image{
  width: 800px;
  height: 256px;
  background-image: url("../img/sedona-feature1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.image2{
  background-image: url("../img/sedona-feature2.jpg");
  order: -1;
}

.feature-header,
.offer-header{
  width: 160px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: bold;
  line-height:21px;
  color: #000000;
}

.feature-number{
  margin: 0;
  margin-bottom: 21px;
}

.feature-description,
.offer-description{
  width:290px;
  margin: 0 auto;
}

.description-width1{
  width:220px;
}

.description-width2{
  width: 310px;
}

.offers{
  display: flex;
  padding: 0;
  padding-bottom: 83px;
}

.offer{
  display: block;
  position: relative;
  padding-top: 160px;
  width: 400px;
  text-align: center;
}

.offer::before{
  content: "";
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate( -50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.home::before{
  width: 75px;
  height: 72px;
  background-position: -156px -5px;
}

.food::before{
  width: 74px;
  height: 70px;
  background-position: -72px -34px;
}

.souvenir::before{
  width: 64px;
  height: 76px;
  background-position: -156px -87px;
}

.search{
  margin: 0;
  padding-top: 55px;
}

.search-header{
  margin:0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.search-description{
  margin: 0;
  margin-bottom: 48px;
  line-height: 24px;
  text-align: center;
}

.search-button{
  display: block;
  width: 570px;
  border: 0;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
}

.search-form-wrapper{
  display: block;
  width: 570px;
  margin: 0 auto;
  padding: 56px;
  box-sizing: border-box;
}

.search-form-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.search-label{
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.search-input-wrapper{
  width: 346px;
  display: flex;
}

.search-input-wrapper1{
  display: flex;
}

.label-margin{
  margin-right: 42px;
}

.label-margin1{
  margin-right: 28px;
}

.search-input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  border: 0;
  background-color: #f2f2f2;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.input-width{
  width: 38px;
  padding-left: 0;
  text-align: center;
}

.search-date-img{
  display: block;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
}

.search-date-img::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.button-scale{
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  position: relative;
}

.button-scale::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.minus::before{
  width: 12px;
  height: 3px;
  background-position: -122px -5px;
}

.plus::before{
  width: 11px;
  height: 11px;
  background-position: -5px -87px;
}

.search-form-button{
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 0;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.map-container{
  width: 1200px;
  height: 593px;
  margin: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer{
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  }

.hashtag{
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.socials{
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item{
  display: block;
}

.social-link{
  display:inline-block;
  width: 47px;
  height: 47px;
  margin: 0 3px;
  background-color: #81b3d2;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}

.social-link::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.tw::before{
  width: 17px;
  height: 15px;
  background-position: -26px -87px;
}

.fb::before{
  width: 10px;
  height: 19px;
  background-position: -72px -5px;
}

.post::before{
  width: 20px;
  height: 16px;
  background-position: -92px -5px;
}

.website-creator{
  width: 400px;
}

.website-creator-link{
  display: inline-block;
  vertical-align: middle;
}

.blue{
  background-color: #81b3d2;
}

.white{
  color: #ffffff;
}

.grey{
  background-color: #eeeeee;
}

.brown{
  background-color: #766357;
}

.center{
  text-align: center;
}

/*---- Sedona-hotels----*/

.choice-form-wrapper{
  width: 1200px;
  min-height: 220px;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.choice-form{
  display: flex;
  width: 1056px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.choice-checkbox-wrapper{
  width:255px;
}

.choice-form-header{
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.choice-cost-wrapper .choice-form-header{
  margin-bottom: 9px;
}

.choice-row{
  margin-bottom: 24px;
}

.choice-checkbox-wrapper .choice-row:last-child{
  margin-bottom: 0px;
}

.choice-checkbox{
  display: none;
}

.choice-label{
  margin: 10px 0;
  padding-left: 42px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  }

.choice-checkbox+.choice-label::before{
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -104px -173px;
}

.choice-checkbox:checked+.choice-label::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -36px -5px;
}

/*.choice-form .choice-checkbox-wrapper:nth-child(2){
  margin-right: 200px;
}*/

.choice-cost-wrapper{
  width: 318px;
  margin-left: auto;
}

.choice-cost{
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.choice-cost::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.cost-label-min,
.cost-label-max{
  display: inline-block;
  width: 90px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  color: #ffffff;
  cursor: pointer;
}

.cost-input{
  width: 50px;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.cost-range{
  position: relative;
  margin-bottom: 32px;
}

.cost-range .range-line{
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.cost-range .bar{
width: 80%;
height: 2px;
background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.choice-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

/*--Сортировка--*/
.sort{
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.sort-header{
  margin: 0;
  margin-right: 48px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-list-wrapper{
  display: flex;
}

.sort-list-title{
  margin: 0;
  margin-right: 38px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort-list-item{
margin: 0;
margin-right: 33px;
}

.sort-change{
  margin-left: auto;
}

.sort-change-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.change-link{
  display: block;
  width: 12px;
  height: 10px;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  background-color: grey;
  text-decoration: none;
}

.main-hotels-container{
  margin: 0;
  margin-left: 6%;
  margin-right: 6%;
}

.cards{
}

.card{
  display: flex;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-foto{
  margin: 0;
  padding: 0;
  width: 135px;
  height: 90px;
}

.card-content{
  margin: 0;
  margin-left: 30px;
}

.card-header{
  margin: 0;
  margin-top: -2px;
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.card-header-link{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.card-part-wrapper{
  display: inline-block;
  margin: 0;
  margin-right: 4px;
}

.card .card-part-wrapper:last-child{
  margin-right: 0;
}

.card-text{
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.card-part-link{
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.card-rating{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.card-rating-stars{
  margin: 0;
  padding: 0;
  width: 89px;
  height: 17px;
  background-color: grey;
}
